/node_modules
/oh_modules
/local.properties
/AppScope/agconnect-services.json
**/build-profile.json5
/server/.env
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.env
entry/src/main/ets/services/ApiKeys.ets
